:root {
  --input-border-color: var(--tg-theme-button-color);
  --input-background-color: var(--tg-theme-bg-color);
  --input-font-family: var(--font-family);
}

.input {
  height: 54px;
  border-radius: 0.75rem;
  width: calc(100% - 28px);
  margin: 14px;
  box-sizing: border-box;
  outline: none;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-background-color);
  font-family: var(--input-font-family);
  font-size: 1rem;
  color: white;
  padding: 11px 54px 11px 13.4px;
}
