:root {
  --subtitle-font-family: var(--font-family);
}

.p {
  font-family: var(--subtitle-font-family);
  font-weight: 500;
  line-height: 1.35;
  font-size: 16px;
  max-width: 360px;
  margin: 0 auto 48px;
  color: #aaaaaa;
  text-align: center;
}
